# CUPS Access Parameters
IPP_HOST=localhost
IPP_PORT=631
IPP_USERNAME=
IPP_PASSWORD=
IPP_USE_TLS=false

# Server polling worker parameters
GET_PRINT_QUEUE_ENABLED=false
GET_PRINT_QUEUE_INTERVAL=5s

# Access parameters to the WHS server
WHS_BASE_URL=localhost
WHS_TOKEN=12345